.common{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header{
    height: 100px;
    background-color: black;
    color: wheat;
    line-height: 100px;
}

.mainBody{
    background-color: aquamarine;
}

.footer{
    background-color: blueviolet;
    color: whitesmoke;
    height: 25 px;
    position: fixed;
    bottom: 5px;
    right: 5px;
    left: 5px;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
}

nav{
    background-color: antiquewhite;
    padding: 10px;
    overflow: hidden;
}

nav a{
    float: left;
    color: black;
    padding: 10px 13px;
    text-decoration: none;
    font-size: 16 px;
    font-weight: bold;
}

nav a:hover{
    background-color: chartreuse;
}